html,body {
  background:black;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  overflow:hidden;
  margin:0;
  position:relative;
  height:100%;
  padding:0;
}

* {
  margin:0;
  padding:0;
}

h1, p, a {
  text-align: center;
  margin: 10%;
  color: whitesmoke;
}

img {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.parallax {
  font-size: 150%;
}

 /* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.demo__info {
  position: absolute;
  z-index:100;
  bottom: 1vh;
  top: auto;
  font-size:80%;
  text-align:center;
  width: 100%;
}

.btn-toolbar>.btn {
  margin-left: 5%;
  margin-right: 5%;
  float: none;
}

.btn-default {
  background: black;
  color: whitesmoke;
}

.modal-content {
  background-color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: gray;
}
